.page {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color: #202020;
    color: #fff;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .page__element {
    max-width: 1280px;
    box-sizing: border-box;
    width: 100%;
  }