.nav {
    margin-bottom: 1px;
    display: flex;
    gap: 22px;
    width: 50%;
  }
  
  .nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.28;
    display: inline-block;
    box-sizing: border-box;

  }
  
  .nav__link_place_account {
    font-size: 13px;
    line-height: 0.92;
    position: relative;
    margin: 0 37px 0 39px;
    transform: translateY(3px);
  }
  
  .nav__link_place_register {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin: 8px 9px 0 0;
    transition: 0.3s;
  }
  
  .nav__link_saved-movies {
    min-width: 150px;
}
  .nav__link_place_login {
    min-width: 76px;
    height: 32px;
    padding-top: 8px;
    text-align: center;
    background-color: #3ddc84;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
    transition: 0.3s;

  }
  
  .nav__link_selected {
    font-weight: 500;
  }
  
  .nav__account-icon {
    border-radius: 6px;
    background: #313131;
    width: 12px;
    height: 12px;
    padding: 7px;
    position: absolute;
    right: -33px;
    top: -7px;
  }
  
  @keyframes openMenu {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  
  @keyframes closeMenu {
    0% {
      right: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      right: -100%;
    }
  }
  
  @media (any-hover: hover) {
    .nav__link:hover {
      transform: scale(1.1);
      transition: 0.3s ease-in-out;
    }
    .nav__link_place_account:hover {
      transform: scale(1.1) translateY(3px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .nav_hidden {
      position: fixed;
      right: -100%;
      top: 0;
      z-index: 3;
      background-color: #202020;
      animation: closeMenu 0.75s forwards;
      display: grid;
      grid-template-rows: repeat(3, 27px) 1fr;
      justify-items: center;
      gap: 23px;
      width: 100%;
      max-width: 520px;
      height: 100vh;
      box-sizing: border-box;
      padding-top: 159px;
      transition: right 0.3s ease-in-out;
      opacity: 0;
    }
  
    .nav__link {
      font-size: 18px;
      line-height: 1.22;
    }
  
    .nav__link_place_register {
      font-size: 12px;
      line-height: 1.33;
    }
  
    .nav__link_place_login {
      font-size: 12px;
      line-height: 1.33;
    }
  
    .nav__link_selected {
      border-bottom: 2px solid #fff;
    }
  
    .nav__link_place_account {
      font-size: 13px;
      line-height: 0.92;
      margin: 0 25px 100px 0;
      align-self: flex-end;
    }
  
    .nav_opened {
      animation: openMenu 0.75s forwards;
      right: 0;
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 520px) {
    .nav {
      gap: 14px;
    }
    .nav_hidden {
      padding-top: 147px;
      grid-template-rows: repeat(3, 46px) 1fr;
      gap: 0;
    }
    .nav__link_selected {
      margin-bottom: 16px;
    }
    .nav__link_place_account {
      margin-bottom: 127px;
    }
    .nav__link_place_login {
      font-size: 10px;
      line-height: 1.6;
      width: 54px;
      height: 26px;
      padding: 4px 0 0;
    }
    .nav__link_place_register {
      font-size: 10px;
      line-height: 1.6;
      margin: 5px 0 0 0;
    }
  }